.nav {
    
    .horizontal-line {
        margin: 0;
        height: 0.3rem;
        @include hr;
    }
       
    &__image {
        position: absolute;
        width: 100%;
        height: 70vh;

        @media screen and (min-width: 600px){
            height: 90vh;
        }
    }

    &__list {
        position: relative;
        top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        padding: 0 1rem;
    }

    &__link {
        text-decoration: none;      
        padding: 1.1rem 0rem;
        @include text;
    }

    &__header {
        position: relative;
        margin-top: 10rem;
        font-weight: normal;        
        font-size: 2.3rem;
        @include text;

        &::selection {
            background-color: rgb(6, 175, 152);
        }
    }
}