.section-about {

    @media screen and (min-width:600px) {
        padding: 2rem 8rem;
        background-color: rgb(255, 246, 246);
    }

    .about-first {

        .about__description {
            @media screen and (min-width:600px) {
                position: relative;
                top: -485px;
                left: 720px;
                width: 25%;
                background-color: white;
                padding: 2rem;
                border-radius: 5px;
                border: 1px solid rgba(82, 74, 74, 0.2);
                border-right: 2px solid rgb(0, 255, 0);
                
            }
        }
    }

    .about-second {
        @media screen and (min-width:600px) {
            text-align: right;
        }
        

        .about__description {
            @media screen and (min-width:600px) {
                position: relative;
                top: -450px;
                left: -50px;
                width: 25%;
                background-color: white;
                padding: 2rem;
                border-radius: 5px;
                border: 1px solid rgba(82, 74, 74, 0.2);
                border-left: 2px solid rgb(0, 255, 0);
            }

            .about__header,
            .about__text {
                @media screen and (min-width:600px) {
                    text-align: left;
                }
            }
        }

    }

    .about-third {

        .about__description {
            @media screen and (min-width:600px) {
                position: relative;
                top: -430px;
                left: 720px;
                width: 25%;
                background-color: white;
                padding: 2rem;
                border-radius: 5px;
                border: 1px solid rgba(82, 74, 74, 0.2);
                border-right: 2px solid rgb(0, 255, 0);
            }

            .about__link {
                @media screen and (min-width: 600px){
                    text-align: right;
                    padding: 0.5rem 0;
                }
            }
        }
    }

    .about-fourth {
        @media screen and (min-width:600px) {
            text-align: right;
        }
        

        .about__description {
            @media screen and (min-width:600px) {
                position: relative;
                top: -470px;
                left: -50px;
                width: 25%;
                background-color: white;
                padding: 2rem;
                border-radius: 5px;
                border: 1px solid rgba(82, 74, 74, 0.2);
                border-left: 2px solid rgb(0, 255, 0);
            }

            .about__header,
            .about__text {
                @media screen and (min-width:600px) {
                    text-align: left;
                }
            }
        }

    }

    .about {

        @media screen and (min-width:600px) {
            height: 100vh;  
        }
        

        &__image {
            width: 100%;
            @media screen and (min-width:600px) {
                width: 90%;
                margin: 0;
                border-radius: 5px;
            }
        }

        &__description {
            margin: 2rem;
        }

        &__header {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.5rem;
            color: rgb(36, 36, 36);
        }

        &__text {
            color: rgb(114, 114, 114);
            letter-spacing: 1px;
            font-family: Tahoma;
            line-height: 1.5;
            font-size: 0.9rem;

            &::selection {
                @include hover;
            }
        }

        &__link {
            text-decoration: none;
            display: block;
            text-align: center;
            color: black;
            text-transform: uppercase;
            background-color: rgba(135, 228, 252, 0.4);
            padding: 0.5rem;
            font-size: 0.8rem;
            letter-spacing: 1px;

            &:hover {
                @include hover;
                transition-duration: 0.5s;
            }
        }
    }

    .about__link--arrow {
        width: 100%;
        text-align: right;
        position: relative;
        top: 0;
        left: 150px;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        background-color: $hover-color;
        color: white;
        @media screen and (min-width:600px) {
            position: initial;
            margin: 0;
            margin-left: 4rem;
            padding: 0.5rem 1rem;
            background-color: $hover-color;
            color: white;
            font-size: 1.2rem;
            height: 100%;  
        }
    }
}