.section {
    margin: 2rem 0;

    &-one,
    &-two {
        padding: 0 1rem;
        font-family: Tahoma;

        &__header {
            text-align: center;
            font-size: 1.5rem;
        }

        &__text {
            padding: 1rem;
            font-size: 0.9rem;
            line-height: 1.5;
            letter-spacing: 1px;
        }
    }
}