@mixin hr {
    background-image: linear-gradient(to right, rgb(240, 141, 11), rgba(12, 197, 188, 0.986));
    border: none;
}

// selection color and section-second link hover
@mixin hover {
    background-color: $hover-color;
    color: white;
}

// nav text and header
@mixin text {
    text-align: center;
    text-transform: uppercase;
    font-family: Tahoma;
    color: white;
    letter-spacing: 2px;
}

// Flex
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// About card
@mixin about {
    position: relative;
    width: 32%;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid $border-color;
}

// second and forth text-align: right, to move image to the right
@mixin text-right {
    @media screen and (min-width:600px) {
        text-align: right;
    }
}

// for second and forth text-align: left, to move text to the left
@mixin text-left {
    .about__header,
    .about__text {
        @media screen and (min-width:600px) {
            text-align: left;
        }
    }
}

// about link arrow
@mixin arrow {
    padding: 0.5rem 1rem;
    background-color: $hover-color;
    color: white;
    font-size: 1.2rem;
} 

// include text left-right and .about description and about mixin, for second and fourth
@mixin even ($top) {
    @include text-right;
            @include text-left;

            .about__description {
                @media screen and (min-width:600px) {
                    @include about;
                    top: $top;
                    left: -50px;
                    border-left: 2px solid $border-right-color;
                }
            }
}

// for first and third about
@mixin odd ($top) {
    .about__description {
        @media screen and (min-width:600px) {
            @include about;
            border-right: 2px solid $border-right-color;
            top: $top;
            left: 720px;
        }
    }
}