// stock date and description color
$stock-desc-color: rgb(116, 116, 116);

// selection and section-second hover link color
$hover-color: rgb(0, 212, 166);


$border-right-color: rgb(0, 255, 0);
$border-color: rgba(82, 74, 74, 0.2);

